pom.xml
pom.xml.asc
*.pom.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/
.calva/
/node_modules/
/.shadow-cljs/
/resources/public/index.html
/resources/public/assets
/resources/public/css/
/resources/test/
/resources/node/
